EASYRSA_REQ_COUNTRY=ES
EASYRSA_REQ_PROVINCE=Barcelona
EASYRSA_REQ_CITY=Barcelona
EASYRSA_REQ_ORG=CommonsCloud
EASYRSA_REQ_EMAIL=system@commonscloud.coop
EASYRSA_REQ_OU=SomNuvol
EASYRSA_NO_PASS=1
EASYRSA_BATCH=1
EASYRSA_REQ_CN=somnuvol.coop

NETWORK=192.168.10.0
NETMASK=255.255.255.0
SERVER_NAME=vpn.somnuvol.coop
PUBLIC_IP=127.0.0.1
PUBLIC_PORT=1194

LDAP_URL=ldap://ldap1.example.org
LDAP_BIND_DN=uid=Manager,ou=People,dc=example,dc=com
LDAP_PASSWORD=SecretPassword
LDAP_BASE_DN="ou=People,dc=example,dc=com"
LDAP_SEARCH_FILTER="(&(uid=%u)(accountStatus=active))"
LDAP_GROUP_REQUIRE=false
LDAP_GROUP_BASE_DN="ou=Groups,dc=example,dc=com"
LDAP_GROUP_SEARCH_FILTER="(|(cn=developers)(cn=artists))"

#EXTRA_PARAMS=
#EXTRA_CLIENT_PARAMS=
